@mixin media ($size) {
    @media (max-width:$size) {
        @content;
    }
}

.contact {
    background-image: url("/Bodybg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    // style={{
    // display: "flex",

    height: "100%";

    @include media(510px) {
        min-height: 1400px;

    }


    .contact2 {
        max-width: 1400px;
        width: 100%;
        padding: 20px;
        // border: 1px solid white;
        margin: 0 auto;

        .last-child {
            width: 100%;
            height: 224px;
            margin-top: 20px;
            @include media(1400px) {
                margin-top: 120px;
            }

            @include media(510px) {
                margin-top: 120px;
            }
        }
    }
}