@mixin media ($size) {
    @media (max-width:$size) {
        @content;
    }
}


.header {
    .header-wrapper {
        width: 100%;
        height: 80px;
        background-color: black;
        display: flex;
        justify-content: space-between;
        padding: 15px 20px 15px 20px;
        align-items: center;
        border-bottom: 1px solid white;
        @include media(700px) {
            padding: 8px 13px 8px 13px;
        }

        .left-side-header {
            // style={{
            width: 200px;
            height: "60px";
            display: flex;
            gap: 10px;
            align-items: center;
            margin-top: 5px;

            img {
                width: 50px;
            }

            .left-side-header-children2 {
                font-size: 30px;
                font-weight: 500;
                color: rgba(255, 255, 255, 1);

                @include media(700px) {
                    font-size: 20px;
                }

                span {
                    color: rgba(57, 150, 95, 1)
                }
            }
        }

        .right-side-header {
            width: 500px;
            height: 50px;
            display: flex;
            margin-top: 20px;
            align-items: center;
            margin-bottom: 5px;

            @include media(700px) {
                justify-content: end;
            }

            ul {
                width: 400px;
                display: flex;
                justify-content: space-between;
                color: white;

                @include media(700px) {
                    font-size: 10px;
                    width: 250px;
                }

                @include media(450px) {
                    font-size: 10px;
                    width: 250px;
                    display: none;
                }
            }

            .three-dots{
                font-size: 15px;
                color: white;
                display: none;

                @include media(450px) {
                    display: block;
                }
            }
        }
    }
}