@mixin media ($size) {
    @media (max-width:$size) {
        @content;
    }
}


.about {
    /* style={{ */
    background-image: url("/Bodybg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: space-between;


    .life {

        width: 100%;
        height: 100%;

        /* position:fixed; */
        // border: 1px solid white;
        div {
            display: flex;
            flex-direction: column;
            align-items: center;

            h1 {

                color: rgba(255, 255, 255, 1);
                font-size: 36px;
                font-weight: 700;
                text-align: center;
                max-width: 633px;
                width: 100%;

                @include media(660px) {
                    font-size: 30px;
                    max-width: 570px;
                }

                @include media(550px) {
                    font-size: 25px;
                    max-width: 430px;
                }

                @include media(450px) {
                    font-size: 20px;
                    max-width: 330px;
                    text-align: center;
                    margin: 0 auto;
                }
            }

            p {

                // style={{
                color: rgba(255, 255, 255, 0.7);
                font-size: 18px;
                font-weight: 400;
                text-align: center;
                line-height: 100%;
                margin-top: 20px;

                @include media(660px) {
                    font-size: 16px;
                    max-width: 570px;
                }

                @include media(550px) {
                    font-size: 14px;
                    max-width: 430px;
                }

                @include media(450px) {
                    font-size: 12px;
                    max-width: 330px;
                    text-align: center;
                    margin: 15px auto;
                }
            }

            button {

                width: 170px;
                height: 45px;
                border-radius: 8px;
                background-color: rgba(57, 150, 95, 1);
                border: none;
                margin: 0 auto;
                font-size: 18px;
                font-weight: 400;
                margin: 20px auto;
                // margin-left: 232px;
                margin-top: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

            }
        }
    }

    @include media(800px) {
        position: relative;

    }
}